.View-Port .ChartContainer {
    width: 100%;
    height: 100%;
    background-color: lightgrey;
    border-radius: 10px 10px 10px 10px;
}

.Wrapper .Header .ChartSelectContainer {
    width: 100%;
    height: 100%;
    display: flex;
    padding-left: 30px;
}

.Wrapper .Header .ChartSelect {
    border-radius: 5px 5px 5px 5px;
    justify-self: start;
    align-self: end;
    font-size: 1rem;
    font-weight: 200;
    padding: 8px 24px 8px 10px;
    background-color: lightgrey;
    border: none;
}