</div>
</div>
<div class="aside">
    <ul class="sidebar">
        <li><a href="http://localhost:2507/">Dashboard</a></li>
        <li><a href="http://localhost:2507//">Chart</a></li>
        <li><a href="http://localhost:2507///">Files</a></li>
    </ul>
</div>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="/FileMethods.js"></script>
<script src="/Main.js"></script>
</body>
</html>