<%- include("Top.ejs") %>
<div class="ChartContainer">
  <div class="Chart"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script defer src="/Chart.js" onload="Load_Gases('<%= gasArr %>')"></script>
<%- include("Bottom.ejs") %>
