<%- include("Top.ejs") %>
<div class="ChartContainer">
    <div class="Chart"></div>
</div>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script defer src="/Chart.js"></script>
<%- include("Bottom.ejs") %>