<%- include("Top.ejs") %>
<button type="submit" form="CheckBox"> submit </button>
    <h1> Select the gases to Exp</h1>
    <form class="ScrollingDiv" id="CheckBox" action="" >
    </form>
<script defer src="/CheckBox.js" onload="Start('<%= keys %>')"></script>
<%- include("Bottom.ejs") %>
