<%- include("Top.ejs") %>
<button type="submit" id="CheckBoxBtn"> submit </button>
    <h1> Select the gases to Exp</h1>
    <div class="ScrollingDiv" id="CheckBox">
    </div>
<script defer src="/GeneralMethods.js"></script>
<script defer src="/CheckBox.js" onload="Start('<%= keys %>')"></script>
<%- include("Bottom.ejs") %>
