<%- include("Top.ejs") %>
<button type="submit" form="CheckBox"> submit </button>
    <h1> Select the gases to Exp</h1>
    <form class="ScrollingDiv" id="CheckBox" action="">
    <label class="box" for="vehicle1">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
     I have a bike</label>  <label class="box" for="vehicle1">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
     I have a bike</label>  <label class="box" for="vehicle1">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
     I have a bike</label>  <label class="box" for="vehicle1">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
     I have a bike</label>  <label class="box" for="vehicle1">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
     I have a bike</label>  <label class="box" for="vehicle1">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
     I have a bike</label>  <label class="box" for="vehicle1">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
     I have a bike</label>  <label class="box" for="vehicle1">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
     I have a bike</label>
 <label class="box" for="vehicle1">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
     I have a bike</label>  <label class="box" for="vehicle1">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
     I have a bike</label>  <label class="box" for="vehicle1">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
     I have a bike</label>  <label class="box" for="vehicle1">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
     I have a bike</label>  <label class="box" for="vehicle1">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
     I have a bike</label>  <label class="box" for="vehicle1">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
     I have a bike</label>  <label class="box" for="vehicle1">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
     I have a bike</label>  <label class="box" for="vehicle1">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
     I have a bike</label>
    </form>
<%- include("Bottom.ejs") %>
