<%- include("Top.ejs") %>
    <h1> Select the gases to Exp</h1>
<div id="CheckBox" class="ScrollingDiv">
    <label class="box" for="vehicle1">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
     I have a bike</label>  <label class="box" for="vehicle1">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
     I have a bike</label>  <label class="box" for="vehicle1">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
     I have a bike</label>  <label class="box" for="vehicle1">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
     I have a bike</label>  <label class="box" for="vehicle1">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
     I have a bike</label>  <label class="box" for="vehicle1">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
     I have a bike</label>  <label class="box" for="vehicle1">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
     I have a bike</label>  <label class="box" for="vehicle1">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
     I have a bike</label>
 <label class="box" for="vehicle1">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
     I have a bike</label>  <label class="box" for="vehicle1">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
     I have a bike</label>  <label class="box" for="vehicle1">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
     I have a bike</label>  <label class="box" for="vehicle1">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
     I have a bike</label>  <label class="box" for="vehicle1">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
     I have a bike</label>  <label class="box" for="vehicle1">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
     I have a bike</label>  <label class="box" for="vehicle1">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
     I have a bike</label>  <label class="box" for="vehicle1">
    <input type="checkbox" id="vehicle1" name="vehicle1" value="Bike">
     I have a bike</label>

</div>
<%- include("Bottom.ejs") %>
