<%- include("Top.ejs") %>
<div class="DashboardGrid">
    <div class="DashboardGridItem"></div>
    <div class="DashboardGridItem"></div>
    <div class="DashboardGridItem"></div>
    <div class="DashboardGridItem"></div>
</div>
<%- include("Bottom.ejs") %>