<%- include("Top.ejs") %>
<div class="grid-container">
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
    <div class="grid-item"></div>
</div>
<%- include("Bottom.ejs") %>