<%- include("Top.ejs") %>
<div id="Files">
    <div id="DisplayFiles">
    </div>
    <div id="UploadFiles">
        <label for="InputFile" id="DropArea">
            <input type="file" id="InputFile" hidden="hidden" onchange="FileMethods.Upload()">
                <img src="/uploadIcon.png" alt="Upload file">
                <div id="UploadPar">Drag & drop to upload file <br> or click here</div>
        </label>
    </div>
</div>
<%- include("Bottom.ejs") %>
