<%- include("Top.ejs") %>
<div id="files">
    <div id="displayFiles">
    </div>
    <div id="uploadFiles">
        <label for="inputFile" id="dropArea">
            <input type="file" id="inputFile" hidden="hidden" onchange="FileMethods.Upload()">
            <div id="uploadView">
                <img src="../images/UploadIcon.png" alt="Upload file">
                <div id="uploadPar">Drag & drop to upload file <br> or click here</div>
            </div>
        </label>
    </div>
</div>
<%- include("Bottom.ejs") %>
