<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XLSX File</title>
    <link rel="stylesheet" href="/MainPage.css">
</head>
<body>
    <div id="Wrapper">
        <div id="NavBox">
            <div></div>
            <div></div>
            <div></div>
        </div>
        <div id="NavList">
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
            <div class="item"></div>
        </div>
        <section id="Graph">

        </section>
    </div>
    <script src="/MainPage.js"></script>
</body>
</html>
