<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>XLSX File</title>
    <link rel="stylesheet" href="/MainPage.css">
</head>
<body>
<div id="Wrapper">

    <div id="NavBox" onclick="ToggleList('NavList')">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <div id="ReadList" class="List"></div>
    <div id="DeleteList" class="List"></div>
    <div id="NavList" class="List">
    </div>
    <section   id="Graph">
       <select onchange="DisplayGasGraph(value)" id="Gases">
        </select>
    <div id="Chart"></div>
    </section>
</div>
<script src="/MainPage.js"></script>
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

</body>
</html>
