<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload XLSX File</title>
    <style>
        #graph{
            width: 40%;
            height: 500px;
            border: black 1px solid;
            margin-top: 50px;
            float: left;
        }
        #files{
            width: 40%;
            height: 500px;
            border: black 1px solid;
            margin-top: 50px;
            float: right;
            position: relative;
        }
        #refreshBtn{
            position: relative;
            left: 35%;
        }
        ul {
            position: absolute;
            top: 20px;
            bottom: 20px;
            left: 20px;
            right: 20px;
            overflow: scroll;
            margin: 0;
            padding: 0;

            border: 2px solid #ccc;

            font-size: 16px;
            font-family: Arial, sans-serif;


        -webkit-overflow-scrolling: touch;
        }

        li {
            padding: 10px 20px;

            border-bottom: 1px solid #ccc;

            &:last-child {
                border-bottom: none;
            }

            &:nth-child(even) {
                background: #f8f8f8;
            }
        }
        li:hover{
            border: 3px solid #ccc;
        }

    </style>
</head>
<body>
<h1>Upload XLSX File</h1>
<%if(pageVal.isUploaded){%>
    <p><%=pageVal.mssg%></p>
<%}%>
<button id="graphBtn">display</button>
<form id="uploadForm" enctype="multipart/form-data" action="http://localhost:2507/upload" method="post">
    <input type="file" name="file" >
    <button id="submitUp" type="submit">Upload</button>
</form>
    <div id="graph"></div>
<button id="refreshBtn">refresh files</button>
    <div id="files">
        <ul>
        </ul>
    </div>
<script>
    let list = document.getElementsByTagName("ul")[0],
        graph = document.getElementById("graph"),
        graphBtn = document.getElementById("graphBtn"),
        upBtn = document.getElementById("submitUp");

    graphBtn.addEventListener("click", async ()=>{
   let data = await fetchData("http://localhost:2507/readFile");
        for (const item of data) {
            let str = "";
            str+=`${item.name}, ${item.age} \n`;
             graph.innerHTML += str;
        }
})
    async function fetchData(urlLocation){
        let response = await fetch(urlLocation,{
            method:"GET"
        });
        let Data = await response.json();
        console.log(Data);
         return Data;
    }

</script>
</body>
</html>