<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload XLSX File</title>
    <style>
        #graph {
            width: 40%;
            height: 500px;
            border: black 1px solid;
            margin-top: 50px;
            float: left;
        }

        #filesArea {
            width: 40%;
            height: 500px;
            border: black 1px solid;
            margin-top: 50px;
            float: right;
            position: relative;
        }

        #refreshBtn {
            position: relative;
            left: 35%;
        }

        ul {
            position: absolute;
            top: 20px;
            bottom: 20px;
            left: 20px;
            right: 20px;
            overflow: scroll;
            margin: 0;
            padding: 0;

            border: 2px solid #ccc;

            font-size: 16px;
            font-family: Arial, sans-serif;


            -webkit-overflow-scrolling: touch;
        }

        li {
            position: relative;


            border-bottom: 1px solid #ccc;

            &:last-child {
                border-bottom: none;
            }

            &:nth-child(even) {
                background: #f8f8f8;
            }
        }

        li:hover {
            border: 3px solid #ccc;
        }
        li div{
            width: 80%;
            padding: 10px 20px;
        }
        #deleteBtn {

            position: absolute;
            right: 0px;
            top:0px;
            height: 100%;
        }


    </style>
</head>
<body>
<h1>Upload XLSX File</h1>
<% if(pageVal.isUploaded){ %>
    <p><%= pageVal.mssg %></p>
<% } %>
<button id="graphBtn">display</button>
<form id="uploadForm" enctype="multipart/form-data" action="http://localhost:2507/Files/UploadFile" method="post">
    <input type="file" name="file">
    <button id="submitUp" type="submit">Upload</button>
</form>
<div id="graph"></div>
<button id="refreshBtn">refresh files</button>
<div id="filesArea">
    <ul id="filesList">
    </ul>
</div>
<script>
    let list = document.getElementsByTagName("ul")[0],
        graph = document.getElementById("graph"),
        graphBtn = document.getElementById("graphBtn"),
        refBtn = document.getElementById("refreshBtn"),
        filesList = document.getElementById("filesList"),
        upBtn = document.getElementById("submitUp");

    async function showFileData(FilePath) {
        let data = await fetchFile("http://localhost:2507/Files/ReadFile", FilePath);
        let str = "";
        graph.innerHTML = "";
        for (const item of data) {
            str += `${item.name}, ${item.age} <br>`;
        }
        graph.innerHTML += str;
    }

    async function deleteFile(FilePath) {
        if (confirm("do tou wont to delete this file?")) {
            await fetch("http://localhost:2507/Files/DeleteFile", {
                method: "DELETE",
                headers: {
                    'content-Type': 'application/json'
                },
                body: JSON.stringify({
                    filePath: FilePath
                })
            })
        }
        await getFile();
    }

    async function getFile() {
        let data = await fetchFilesPath("http://localhost:2507/Files/GetFile");
        let str = "";
        for (const row of data) {
            console.log(row)

            str += `<li>`;
            str += `<div  onclick="showFileData('${row}')">${row}</div>`;
            str += `<button id="deleteBtn" onclick="deleteFile('${row}')"> delete </button>`;
            str += `</li>`;
        }
        filesList.innerHTML = str;
    }

    refBtn.addEventListener("click", getFile);

    async function fetchFile(urlLocation, FilePath) {
        let response = await fetch(urlLocation, {
            method: "POST",
            headers: {
                'content-Type': 'application/json'
            },
            body: JSON.stringify({
                filePath: FilePath
            })
        })

        let Data = await response.json();
        console.log(Data);
        return Data;
    }

    async function fetchFilesPath(urlLocation) {
        let response = await fetch(urlLocation, {
            method: "GET"
        })
        let data = await response.json();
        return data;
    }

</script>
</body>
</html>